# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
data/

# PyTorch / models
*.pt
*.pth
checkpoints/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log


# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# dotenv
.env